
@{
    ViewData["Title"] = "Index";
}

@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-page text-center "  >
    <h4 class="text-danger">Error</h4>
    <h2>An error occurred while processing your request.</h2>

    <h3 >Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
    </p>
    @*<a type="button" asp-controller="User" asp-action="Index" class="btn-primary btn-sm-style btn-lg">Return to Home</a>*@
</div>

