@model Leemo.Model.WrapperModels.GroupsAndUsers
@using Microsoft.Extensions.Options;
@using Leemo.Web;
@inject IOptions<AppSettings> appSettings
@{
    ViewData["Title"] = "Groups";
    bool groupAddPermission = false;
    bool groupViewPermission = false;
    if (ViewBag.addGroupPermission != null)
    {
        groupAddPermission = ViewBag.addGroupPermission;
    }
    if (ViewBag.viewGroupPermission != null)
    {
        groupViewPermission = ViewBag.viewGroupPermission;
    }

}
<div class="custom-tab">
    @if (!groupViewPermission)
    {
        <div class="general-setting card-style big-space">
            <input type="hidden" id="GroupAccessDenied" value="-1" />
            <div class="access-denied-col text-center">
                <img src="~/images/access-denied.png" alt="Access Denied">
                <h2>Access Denied</h2>
                <p>You currently does not have access to this page. <span class="d-block">Please try again later.</span></p>
            </div>
        </div>
    }
    else
    {
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Groups</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="groups" role="tabpanel" aria-labelledby="groups-tab">
                <div class="general-setting card-style big-space groups-tab">
                    <div class="row">
                        <div class="col-md-5 users-list">
                            <div class="check-user-status">
                                <div class="active-users">
                                    <select class="form-control form-style-1 bg-transparent light-color niceSelect" id="getActiveGroups" onchange="GroupList()">
                                        <option value="0">All Groups(@ViewBag.AllGroups)</option>
                                        <option value="1" selected>Active Groups (@ViewBag.ActiveGroups)</option>
                                        <option value="2">InActive Groups (@ViewBag.InActiveGroups)</option>
                                    </select>
                                    @if (groupAddPermission)
                                    {
                                        <a href="javascript:void(0);" class="btn-primary btn-sm-style" onclick="NewGroupPopup()"><img src="~/images/plus.svg" title="plus"> New Group</a>
                                    }
                                </div>
                                <div class="search-users">
                                    <input type="text" placeholder="Search Groups" id="GroupQuerySearch" name="GroupQuerySearch" class="form-control form-style-1 bg-transparent">
                                    <span class="search-icon">
                                        <a href="javascript:;" onclick="fnOnClickCancelBtn();">
                                            <img src="~/images/search-icon.png" id="searchImg" data-tippy-content="Search Group">
                                            <img src="~/images/cancel.svg" id="closeImg" class="cancelImg" data-tippy-content="Cancel Search">
                                        </a>
                                    </span>
                                </div>
                                <div class="select-users adjHight demo-y">
                                    <div id="_GroupList">
                                        <partial name="_GroupList" model="Model.ResultGroup" />
                                    </div>
                                    <div class="text-center hide partialLoader">
                                        <div class="spinner-border text-secondary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 group-info textcenter" id="group-info">

                        </div>
                    </div>
                    <!-- loader -->
                    <div class="loader align-items-center justify-content-center">
                        <span>
                            <img src="~/images/sitelogo.png" alt="LEEMO" title="LEEMO">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!--Popups -->
<!-- Edit info modal -->
<div class="modal fade edit-info" id="userEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">

</div>
<!-- new user modal -->
<div class="modal fade edit-info" id="newUser" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">

</div>
<!-- new group modal -->
<div class="modal fade edit-info" id="newGroup" tabindex="-1" aria-labelledby="exampleModalLabel" data-backdrop="static" aria-hidden="true">
</div>

@section scripts{
    <script src=@Url.Content("~/js/area/group.js")></script>
}
