
@model Leemo.Model.InputModels.UpdateInputProductLead




<div class="multisteps-form__form">
    <div class="multisteps-form__panel js-active" data-animation="scaleIn">
        @*<h3 class="multisteps-form__title text-center">Order Information</h3>*@
        <div class="general-setting card-style big-space">
            <div class="access-denied-col text-center">
                <img src="~/images/coming-soon.png" alt="Comming Soon" />
            </div>
        </div>
        <div class="button-row d-flex mt-4">
            <button class="btn js-btn-prev custom-btn" onclick="VerifyAddress()" type="button" title="Prev">Prev</button>
            <button class="btn ml-auto js-btn-next custom-btn" type="button" onclick="orderComments()" title="Next">Next Step <img src="~/images/arrow-r.svg" alt="arrow"></button>
        </div>

    </div>

</div>




