@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<div class="error-page text-center">
    <h1>404</h1>
    <h4>Oops!</h4>
    <p><span>We're sorry,</span> The page you were looking for doesn't exist anymore.</p>
    <a type="button" asp-controller="User" asp-action="Index" class="btn-primary btn-sm-style btn-lg">Return to Home</a>
</div>