
@{
    ViewData["Title"] = "CommingSoon";
}

<div class="general-setting card-style big-space">
    <div class="access-denied-col text-center">
        <img src="~/images/coming-soon.png" alt="Comming Soon" />
    </div>
</div>
