@model Leemo.Model.InputModels.InputChangePassword
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
    bool IsLinkExpired = false;
    if(ViewBag.LinkExpire != null)
    {
        IsLinkExpired = ViewBag.LinkExpire;
    }
}
@if (IsLinkExpired)
{
<div class="general-setting card-style big-space">
    <div class="access-denied-col text-center">
        <img src="~/images/remove.png" alt="Comming Soon" />
        <br /><br /><br />
        <h1 class="text-danger"><b>Oops...This link has expired.</b></h1>
        <br />
        <strong><b style="font-size:20px;">Note:</b> If you want to reset your Password, Please go to <a class="text-primary" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a> Section.</strong>
    </div>
</div>
}
else
{
<div class="reset-form form-sec card-style form-space">
    <h2 class="info-heading">Reset Your Password</h2>
    <form class="needs-validation" id="resetPassForm">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="hidden" class="form-control form-style-1" asp-for="Email">
            <input type="hidden" class="form-control form-style-1" asp-for="OldPassword">
            <label class="info-label">Enter New Password</label>
            <input type="password" class="form-control form-style-1" id="password" asp-for="NewPassword" required>
            <span asp-validation-for="NewPassword" class="text-danger" />
            <div class="invalid-feedback">
                Password Required
            </div>

        </div>
        <div class="pswd_info form-group" style="display: none;">
            @*<label class="info-label text-dark"> </label>*@
            <ul>
                <li id="length" class="invalid">Minimum <strong>8 characters</strong></li>
                <li id="capital" class="invalid">Minimum <strong>one capital letter</strong></li>
                <li id="letter" class="invalid">Minimum <strong>One lowercase letter</strong></li>
                <li id="special" class="invalid">Minimum <strong>one special character</strong></li>
                <li id="number" class="invalid">Minimum <strong>one numeric digit</strong></li>
            </ul>
        </div>
        <div class="form-group">
            <label class="info-label">Confirm Password</label>
            <input type="password" class="form-control form-style-1" id="ConfirmPassword" name="ConfirmPassword"  required="" asp-for="ConfirmPassword" >
            <span asp-validation-for="ConfirmPassword" class="text-danger" />
            <div class="invalid-feedback">
                Password Required
            </div>
        </div>
        <div class="text-right pt-3">
            <button type="button" class="btn-primary btn-sm-style" onclick="resetPassword()">Submit</button>
        </div>
    </form>
</div>
}


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src=@Url.Content("~/js/area/user.js")></script>
    <script src=@Url.Content("~/js/common.js")></script>
}