@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Db Connection</h1>
    <p>
        <h2>My connection</h2>
        @*<span>@ViewBag.MyCon</span>*@
    </p>
</div>
